::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(219, 219, 219);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgb(102, 247, 255);
    background: linear-gradient(183deg, rgb(48, 121, 255) 0%, rgba(102, 247, 255, 1) 100%);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(102, 247, 255);
    background: linear-gradient(183deg, rgba(48, 121, 255, 0.6) 0%, rgba(102, 247, 255, 0.6) 100%);
}

@import './auth.scss';
@import './Header.scss';
@import './Home.scss';
@import './Artilces.scss';
@import './Profile.scss';
@import './Editor.scss';
@import './Settings.scss';
@import './detail.scss';
@import './Comments.scss';
@import './pagination.scss';
@import './messenger.scss';
.container-app {
    margin-top: 80px;
}
body {
    background-color: #ebf0f5;
}
.link-nodecoration {
    text-decoration: none;
}
.error-list {
    color: #fff;
    padding: 5px;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
    font-size: 17px;
    &.failure-state {
        background-color: rgb(231, 42, 25);
    }
    &.success-state {
        background-color: rgba(31, 255, 31, 0.866);
    }
}

.loader {
    text-align: center;
}
.loader span {
    display: inline-block;
    vertical-align: middle;
    width: 2px;
    height: 2px;
    margin: 0px auto;
    background: grey;
    border-radius: 50px;
    animation: loader 0.5s infinite alternate;
    animation: loader 0.5s infinite alternate;
}
.loader span:nth-of-type(2) {
    animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.loader span:nth-of-type(3) {
    animation-delay: 0.3s;
    animation-delay: 0.3s;
}

@keyframes loader {
    0% {
        width: 5px;
        height: 5px;
        opacity: 0.9;
        transform: translateY(2px);
    }
    100% {
        width: 10px;
        height: 10px;
        opacity: 0.3;
        transform: translateY(-2px);
    }
}
