// content-container
$bg-favorate: #0088ff;
$content: #0d6efd;
$bg-blur: #36a1ff;

.feed-container {
    // background-color: rgb(240, 240, 240);
    padding: 5px;
}
.feed-item {
    border: 1px solid rgb(236, 236, 236);
    border-left: 3px solid rgb(0, 0, 0);
    padding: 10px;
    margin-bottom: 15px;
    transition: transform 0.5s;
}

.feed-item:hover {
    transform: scale(1.01, 1.01);
    border-left: 3px solid $content;
    background-color: rgb(245, 245, 245);
    // animation-name: focusItem;
    // animation-duration: 1s;
}
// @keyframes focusItem {
//     0% {
//         transform: scale(1, 1);
//     }

//     100% {
//         transform: scale(1.01, 1.01);
//     }
// }
.item-author {
    margin-bottom: 3px;
    & img {
        border-radius: 50%;
        margin: 0px;
        width: 100%;
    }
    & .item-author-name {
        color: rgb(69, 76, 147);
        text-decoration: none;
    }
    & .item-author-date {
        color: rgb(147, 147, 147);
    }
}

.item-title {
    margin-left: 5px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(26, 32, 106);
}

.item-content {
    margin-left: 5px;
    font-size: 15px;
    color: rgb(147, 147, 147);
    overflow: hidden;
    height: 25px;
    margin-bottom: 10px;
}

.btn-favorate {
    width: 100%;
    float: right;
    border-radius: 10px;
    border: 1px solid $bg-favorate;
    & img {
        width: 15px;
        display: inline;
    }
    & div {
        margin: 4px;
        display: inline;
        font-size: 15px;
        color: rgb(0, 0, 0);
    }
}
.btn-favorate-active {
    background-color: $bg-favorate;
    & div {
        color: rgb(255, 255, 255);
    }
}
.btn-favorate:hover {
    background-color: $bg-blur;
    border: 1px solid $bg-blur;
    & div {
        color: rgb(255, 255, 255);
    }
}

@media only screen and (max-width: 404px) {
    .col-ss-1 {
        width: 25%;
        margin: 0px;
    }
}
@media only screen and (min-width: 768px) {
    .col-md-15 {
        width: 13%;
    }
}
@media only screen and (min-width: 1200px) {
    .col-xl-x05 {
        width: 8%;
    }
    .btn-favorate {
        width: 80%;
    }
}
