$mobile-width: 576px;
$tablet-width: 768px;
$desktop-width: 1024px;
@mixin mobile {
    @media (max-width: #{$mobile-width - 1px}) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}
.container-info-profile {
    border-radius: 20px;
    background: #fff;

    & .container-avt-img {
        padding: 5px;
        width: 200px;
        height: 200px;
        border: 1px solid rgb(215, 215, 215);
        transition: transform 0.3s;
        & .avt-img {
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
        &:hover {
            transform: scale(1.05);
        }
    }
    & .container-uploadimg {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 10;
        background-color: rgba(56, 56, 56, 0.595);
        & .upload-avt-body {
            background-color: #fff;
            padding: 10px;
            margin: 20px auto;
            overflow: auto;
            border-radius: 10px;
            & h2 {
                margin-top: 20px;
                margin-left: 20px;
                line-height: 0;
                font-weight: bold;
                color: rgb(53, 0, 152);
            }
            & .btn-exit {
                float: right;
                display: block;
                border: 0px;
                background: rgb(255, 0, 0);
                background: linear-gradient(90deg, rgb(253, 171, 49) 0%, rgb(255, 0, 0) 100%);
                color: #fff;
                border-radius: 5px;
                padding: 3px 13px;
                &:hover {
                    opacity: 0.7;
                }
            }

            & .image-upload {
                background-color: rgb(244, 244, 244);
                padding: 20px 0px;
                border-radius: 10px;
                display: flex;
                margin: 40px 10px;
                justify-content: center;
                & label {
                    position: relative;
                    cursor: pointer;
                    border-radius: 50%;
                    & .upload-icon {
                        border-radius: 50%;
                        position: absolute;
                        top: 0;
                        background: rgba(63, 63, 63, 0.345);
                        display: none;
                        justify-content: center;
                        align-items: center;
                    }
                    &:hover {
                        & .upload-icon {
                            display: flex;
                            width: 30vw;
                            height: 30vw;
                            @include desktop {
                                width: 25vw;
                                height: 25vw;
                            }
                            @include mobile {
                                width: 60vw;
                                height: 60vw;
                            }
                            & * {
                                width: 10vw;
                                height: 10vw;
                                opacity: 0.8;
                            }
                        }
                    }

                    & img {
                        width: 30vw;
                        height: 30vw;
                        border-radius: 50%;
                        @include desktop {
                            width: 25vw;
                            height: 25vw;
                        }
                        @include mobile {
                            width: 60vw;
                            height: 60vw;
                        }
                    }
                }
            }
            & .btn-save-img {
                background: rgb(0, 51, 255);
                border: #fff;
                padding: 10px 30px;
                color: #fff;
                border-radius: 10px;
            }
        }
    }
    & .username-profile {
        color: rgb(12, 0, 122);
        font-weight: bold;
    }
    & .username-profile:hover {
        color: rgb(0, 0, 0);
    }
    & .bio-profile {
        color: rgb(65, 65, 65);
    }

    & .btn-edit-profile {
        border: 0px;
        text-decoration: none;
        padding: 8px 15px;
        background: linear-gradient(90deg, rgb(36, 91, 255) 0%, rgb(0, 231, 135) 100%);
        color: #fff;
        border-radius: 20px;
        transition: all 0.3s;
    }
    & .btn-edit-profile:hover {
        transform: translateY(-1px);
        box-shadow: 0px 4px 5px 1px rgb(163, 163, 163);
    }

    & .btn-follow-profile {
        margin-right: 10px;
        background: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        border-radius: 20px;
        padding: 7px 15px;
        border: 1px solid rgb(204, 204, 204);
    }
    & .btn-follow-profile-active {
        background: linear-gradient(90deg, rgb(36, 226, 255) 0%, rgb(0, 255, 149) 100%);
        padding: 8px 15px;
        border: 0px;
        color: rgb(255, 255, 255);
    }
}

.nav-link-profile {
    margin: 20px 0px;
    & .item-link-profile {
        display: inline-block;
        padding: 10px;
        border-radius: 30px;
        width: 100%;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        transition: all 0.2s;
        font-weight: bold;
        font-size: 20px;
    }
    & .item-link-profile:hover {
        transform: translateY(-5px);
        box-shadow: 0px 3px 5px 1px rgb(165, 165, 165);
    }

    & .bg-tab-active {
        transform: translateY(-1px);
        color: rgb(0, 15, 181);
        box-shadow: 0px 1px 3px 0px rgb(165, 165, 165);
    }
}
